{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <style>
    .bg-img {
      background-image: url({% static 'articles/cf3c5eef-de48-41e4-bdc8-abad850e4bf1.jpg' %});
      width: 100%;
      height: 530px;
      background-size: cover;
    }

    .card {
      margin-bottom: 2rem;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="bg-img p-0"></div>
{% endblock %}
{% block section %}
  <div class="my-3 d-flex align-items-center justify-content-between">
    <h2 class="fw-bold" style="color: #f96e46"># 맛집 리스트</h2>
    <a href="#" class="text-muted text-decoration-none fs-5">더보기</a>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
